.analysis-container {
    display: grid;
    grid-column: span 3;
    gap: 2em 2em;
    justify-content: center;
}

.analysis-container .analysis {
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
    height: 2em;
    padding: 2em;
    background-image: linear-gradient(to bottom right, $tech-box-color, $font-alternative-color);
    color: $font-color;
    border-radius: 10px;
    font-size: 1.5rem;
}

.analysis-container a {
    text-decoration: none;
    text-align: center;
}

.analysis-article {
    display: flex;
}

.sidebar {
    margin-right: 40px;
    border-right: groove;
    width: 20%;
    padding-right: 10px;
}

.article {
    width: 50%;
}


@media (min-width: 870px) {
    .analysis-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    
    .analysis-container h1,
    .analysis-container p {
        grid-column: span 3;
    }
}

@media (max-width: 767px) {
    .analysis-article .sidebar {
        display: none;
    }
}
