.footer {
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding: 3em;
    background-color: $footer-background-color;
    color: $footer-color;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.footer a {
    color: $footer-color;
}

.footer>div {
    text-align: center;
}

.footer .social {
    display: grid;
    font-size: 2rem;
}
