.header,
.site-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.site-header a {
    filter: grayscale(50%);
}

.title,
.logo {
    padding: 3em 3em 3em 0;
}

.title p {
    font-style: italic;
}

.nav a,
.nav-toggle {
    color: $nav-font-color;
}

@media (max-width: 870px) {
    .title {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }
    
    .logo {
        display: none !important;
    }
}
