body {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    color: $font-color;
}

.main {
    flex: 1 0 auto;
    margin: 2em auto;
}

.header,
.footer {
    flex: 0 0 auto;
}

/*
@media (max-width: 1050px) {
    .main {
        width: 96%;
    }
}*/
