body {
    display: flex;
    flex-direction: column;
    /*
    background-color: $background-color;*/
    color: $font-color;
    background: linear-gradient($background-color, $background-alternative-color);
}

.main {
    flex: 1 0 auto;
    margin: 2em auto;
}

.text {
    width: 50%;
}

.header,
.footer {
    flex: 0 0 auto;
}
