* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 100%;
}

body {
    line-height: $main-line-height;
}

p {
    font-size: $main-font-size;
    margin-bottom: $magic-number;
}

@media (min-width: 1300px) {
    html {
        font-size: 112.5%;
    }
}
