$font-color: #c2c1c0;
$font-alternative-color: #5c2d55;

$accent-color: #ee6c4d;

$background-color: #121212;
$background-alternative-color: #121212;
$footer-background-color: #5e5e5e;
$footer-color: #fffefc;
$border-color: #333;
$nav-font-color: #d6d5d4;
$tech-box-color: #5c2d55;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
