$font-color: #333;
$font-alternative-color: #fff;

$accent-color: #ee6c4d;

$background-color: #efefef;
$background-alternative-color: #e0fbfc;
$footer-background-color: #444;
$footer-color: rgb(255, 255, 255);

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
