$font-color: #638b8f;
$font-alternative-color: #fffefc;

$accent-color: #ee6c4d;

$background-color: #dbcdc3;
$background-alternative-color: #fffefc;
$footer-background-color: #8f7d71;
$footer-color: #fffefc;
$border-color: #333;
$nav-font-color: #638b8f;
$tech-box-color: #dbcdc3;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height; 
